[package]
name = "rython"
version = "0.4.5"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "rython_calc"
crate-type = ["cdylib"]

[dependencies]
pyo3 = "0.21.1"

[profile.release]
lto = true
codegen-units = 1
